.FormBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.Reservation_Form {
    margin-left: -10rem;
}

.input, label {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
}


label {
    display: block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    font-weight: 600;
    margin-right: 1rem;
}

textarea{
    width: 10rem;
    max-height: 10rem;
    border: 2px solid rgb(190, 174, 158);
    opacity: 0.5;
    resize: vertical;
    margin-top: 0.5rem;
    font-family: 'EB Garamond', serif;
}



textarea:focus{
    outline: none;
    opacity: 1;
}

.input {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 2px solid rgb(190, 174, 158) !important;
    opacity: 0.5 !important;
    transition: all .2s ease !important;
    font-family: 'EB Garamond', serif !important;
    font-size: 0.9em !important;
    display: block !important;
    
}

label {
    font-size: 0.9em;
    text-align: left;
    width: auto;

}
 
input {
    width: 8rem;
    margin-left: 0rem;
    
}

.InputSize {
    width: 40px;
    text-align: center;
}

.input:focus {
    outline: none !important;
    opacity: 1 !important;
}

.input:valid {
    border-bottom: 2px solid #82b21e;
    opacity: 1;
    background-color: none;
}

.input:active {
    background-color: none;
}

.input.error {
    border-bottom: 2px solid rgb(146, 43, 33);
}

.InputDate {
    margin-left: -5.2rem;
    width: 4.5rem;
    margin-bottom: 1.4rem !important;
}

.RequiredFields {
  font-weight: 600;
  margin-bottom: 17px;
}

.Asteriks {
    font-weight: 600;

}

.BookBtn {
    font-size: 12px;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.BookBtn.enable {
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
}

/*Error*/


.Error {
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(16rem, -3rem);
    opacity: 0;
    transition: all 0.6s ease-in-out;
    background-color: rgba(146, 42, 33, 0.534);
    padding: 0.5rem;
}

.Error.error {
    opacity: 1;
    background-color: rgba(146, 42, 33, 0.534);
    padding: 0.5rem;
}

.ErrorIcon.error {
    opacity: 0;
}

.ErrorIcon {
    opacity: 0;
}

.BookingMessage {
    font-size: 15px;
    margin-top: 2rem;
    margin-left: -0.2rem;
    background-color: rgba(146, 42, 33, 0.534);
    color: whitesmoke;
    padding: 1rem;
    opacity: 0;
    display: none;
    transform: translateY(-10rem);
    transition: all 1s ease-in-out;
}



.BookingMessage.open {
    opacity: 1;
    display: block;
    transform: translateY(0rem);
}

@media only screen and (min-width: 1200px) {
    .InputDate {
        margin-left: -8rem;
    }
}

@media only screen and (max-width: 1200px) {
    .InputDate {
        margin-left: -8rem;
    }
}

@media only screen and (max-width: 1000px) {

    .InputDate {
        margin-left: -8rem;
    }
}

@media only screen and (max-width: 900px) {
    .InputDate {
        margin-left: -8rem;
    }
}

@media only screen and (max-width: 601px) {

    .Reservation_Form {
        margin-left: 0rem;
        
    }

    .InputDate {
        margin-left: -8rem;
    }

    .ErrorEmail {
        transform: translate(10.5rem, -2.5rem);
        font-size: 0.6em;
    }

    .ErrorIconEmail {
        opacity: 1;
        transform: translate(5rem, -1.5rem);
    }
    
    .ErrorName {
        transform: translate(1rem, 0rem);
        font-size: 0.6em;
        font-size: 12
    }

    .ErrorIconName {
        opacity: 1;
        transform: translate(5rem, -1.5rem);
    }
    
    .ErrorSurname {
        transform: translate(10.5rem, -2.5rem);
        font-size: 0.6em;
    }

    .ErrorIconSurname {
        opacity: 1;
        transform: translate(5rem, -1.5rem);
    }
    
    .ErrorNumber {
        transform: translate(10.5rem, -2.5rem);
        font-size: 0.6em;
    }

    .ErrorIconNumber {
        opacity: 1;
        transform: translate(7rem, -1.5rem);
    }
    
    .ErrorDate {
        transform: translate(10.5rem, -2.5rem);
        font-size: 0.6em;
    }

    .ErrorIconDate {
        opacity: 1;
        transform: translate(-2rem, 0.1rem);
    }
    
    .ErrorTime {
        transform: translate(10.5rem, -2.5rem);
        font-size: 0.6em;
    }

    .ErrorIconTime {
        opacity: 1;
        transform: translate(5rem, -1.5rem);
    }
    
    .ErrorSize {
        transform: translate(10.5rem, -2.5rem);
        font-size: 0.6em;
    }

    .ErrorIconSize {
        opacity: 1;
        transform: translate(5rem, -1.5rem);
    }

    .Error.error {
        display: none;
    }
    
    .ErrorIcon.error {
        opacity: 1;
    }
    
    .ErrorIcon {
        opacity: 0;
        transition: all .4s ease-in-out;
        
    }

    
  }
