.Reservation_Form {
    text-align: left;
}

input, label {
    margin-bottom: 0.4rem;
    margin-top: 0.5rem;
}

label {
    display: block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-left: -3rem;
    margin-right: 1rem;
    font-weight: 600;
}

textarea{
    max-width: 20rem;
    max-height: 10rem;
    border: 2px solid rgb(146, 43, 33);
    opacity: 0.5;
}

textarea:focus{
    outline: none;
    opacity: 1;
}


@media only screen and (max-width: 1200px) {
    textarea {
        width: 26rem;
        height: 20rem;

    }
}

@media only screen and (max-width: 900px) {
    textarea {
        width: 15rem;
        height: 40rem;

    }
}

@media only screen and (max-width: 800px) {
    textarea {
        width: 20rem;
        height: 40rem;

    }
}

@media only screen and (max-width: 600px) {
    textarea {
        width: 12rem;
        height: 40rem;

    }
}

input {
    display: block;
    float: left;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgb(146, 43, 33);
    opacity: 0.5;
    transition: all .2s ease;
    font-family: 'EB Garamond', serif;
    font-size: 0.9em;
}

input:focus {
    outline: none;
    opacity: 1;
}

.Reservation_Title {
    font-size: 2em;
}

.Reservation_SubText{
    font-size: 1.2em;
}

.RequiredFields {
  font-weight: 600;
  text-align: center;
  margin-bottom: 17px;
}

.Asteriks {
    font-weight: 600;

}
.BookBtn {
    font-size: 12px;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'EB Garamond', serif;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem auto;
}
