.App {
  padding: 2rem;
  box-sizing: border-box;
  color: rgb(146, 43, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
  background-color: white;
  margin: 0 auto;
  left: 0;
  right: 0;
}

footer {
  color: rgb(146, 43, 33);
}

@media only screen and (max-width: 800px) {
  .App {
      width: 100vw;
  }
}


.App_Component {
  background-color: brown;
  max-width: 100%;
  height: 42.5vw;
}

.Divider {
  max-width: 15%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
