body {
  font-family: 'EB Garamond', serif;
  background-color: rgb(139, 36, 27);
}

body, html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-x: hidden!important;
}
