.Contacts {
    position: relative;
    max-width: 100%;
    margin-top: 1rem;
}

.Contacts_Image {
    max-width: 65%;
    transform: translate(15rem, 2rem);
}

.Contacts_Title {
    position: absolute;
    font-size: 2em;
    transform: translate(5vw, 7vw);
    background-color: white;
    border: 5px solid white;
    z-index: 100;
    max-width: 19rem;
}

.Contacts_SubText {
    font-size: 1.2em;
    text-align: right;
}

.Contacts_Socials {
    width: 16vw;
    transform: translate(-1.2vw, -16vw);
    text-align: right;
}

.Contacts_Questions h4{
    margin-left: 20px;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
}

.Contacts_Questions {
    transform: translateY(-9vw);
    text-align: center;
}

.Contact_Icon {
    font-size: 1.5em;
    margin: 0 0.5rem 0 0.5rem;
    opacity: 0.9;
}

.Map {
    max-width: 98%;
    height: auto;
    margin-bottom: -4rem;
    margin-top: 2rem;
    margin-left: 3rem
}

.Copyright {
    padding: 1em;
    text-align: center;
}
