/*.Contacts_Section {
    max-width: 100%;
    height: 42.5vw;
    position: relative;
    background-color: violet;
}

.Contacts_Title {
    position: absolute;
    font-size: 2em;
    transform: translate(14vw, 7vw);
    background-color: white;
    border: 5px solid white;
    z-index: 100;
    max-width: 19rem;
}

.Contacts_SubText {
    font-size: 1.2em;
    text-align: right;
}

.Contacts_Image {
    position: absolute;
    transform: translate(27vw, -8vw);
    width: 65%;
    z-index: 10;   
}

.Contacts_Socials {
    shape-outside: circle(50%);
    position: absolute;
    width: 16vw;
    transform: translate(9vw, -30vw);
    text-align: center;
}

.Contacts_Questions {
    font-size: 1.2em;
    font-weight: 600;
}

.Restaurant_Map {
    width: 80%;
    height: 60%;
    border-radius: 8%;
    position: relative;
}

.Map_Icon {
    position: absolute;
    transform: translateX(-1em);
}

.Copyright {
    padding: 1em;
    margin-top: 2rem;
    text-align: center;
}
*/

.Contacts {
    background-color: tomato;
    position: relative;
    max-width: 100%;
    margin-top: 1rem;
}

.Contacts_Image {
    max-width: 65%;
    transform: translate(15rem, 2rem);
}

.Contacts_Title {
    position: absolute;
    font-size: 2em;
    transform: translate(12vw, 7vw);
    background-color: white;
    border: 5px solid white;
    z-index: 100;
    max-width: 19rem;
}

.Restaurant_Map {
    width: 80%;
    height: 60%;
    border-radius: 8%;
    position: relative;
}