.Reservation {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 3rem;
    margin-bottom: 2rem;
    background-color: white ;
    max-width: 70rem;
    align-content: center;
}

.Reservation_LeftSection {
    display: flex;
    justify-content: center;
    margin: 0;
    grid-column: 1/2;
}

.Reservation_RightSection {
    text-align: center;
    grid-column: 2/3;
}

.Reservation_Image {
    width: auto;
    height: 34rem;
    align-self: center;
}

.Reservation_Form {
    height: 70%;
    padding: 1rem;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 10rem 2rem;
    justify-content: center;
    align-items: center;
}

input, label {
    margin-bottom: 1.9rem;
}

input {
    margin-right: 4rem;
    margin-top: -1.8rem;
    width: 10rem;
}

textarea {
    height: 10em;
    width: 32em;
    margin-top: -2rem;
}

.Reservation_Title {
    font-size: 2em;
}

.Reservation_SubText{
    font-size: 1.2em;
}

.FormLeft {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    margin-left: 2.8rem;
    flex-direction: column;
    justify-content: center;
}

.FormRight {
    grid-column: 2/-1;
    grid-row: 1/2;
    display: flex;
    margin-left: 2.8rem;
    flex-direction: column;
    align-content: center;
}

.Reservation_Notes {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: -0.3rem;
}

.Reservation_Notes label {
    margin-bottom: 38px;
}

.BookBtn {
    grid-column: 1/-1;
    grid-row: 3/-1;
    width: 5rem;
    padding: 10px;
    border: 2px solid whitesmoke;
    background-color: rgb(146, 43, 33);
    color: whitesmoke;
    font-weight: 600;
    /*box-shadow: 0px 2px 6px rgb(146, 43, 33);*/
    border-radius: 7%;
    font-size: 0.9em;
    text-transform: uppercase;
    font-family: 'EB Garamond', serif;
    justify-self: center;
    margin-top: 50px;

}