.Reservation {
    margin-top: 1rem;
    margin-bottom: 2rem;
    background-color: white ;
    align-content: center;
    left: 0;
    right: 0;
    text-align: center;
}

.Reservation_Title {
    font-size: 2em;
}

.Reservation_SubText{
    font-size: 1.2em;
}
