.Services_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 2rem;
}

.Services_Title {
    font-size: 2em;
    background-color: white;
}

.Services_SubText {
    font-size: 1.5em;
}

.Services_Link {
    font-weight: 600;
    color: rgb(146, 43, 33)
}

.Services_Text {
    order: 2;
    text-align: center;
    width: auto;
    padding: 1rem;
    align-self: center;
    line-height: 1.5;
}

.Services_ImageOne {
    order: 1;
}

@media only screen and (max-width: 1200px) {
    .Services_ImageOne {
        display: none;
    }

    .Services_ImageTwo {
        display: none;
    }
}

.Services_ImageTwo {
    order: 3;
}

.Services_Image {
    height: auto;
    width: 35%;
}

@media only screen and (max-width: 493px) {
    .Services_Title {
        font-size: 1.5em;
    }

    .Services_Text{
        font-size: 1em;
    }

    .Services_Container {
        margin: -3rem 0 -3rem 0;
    }
  }



