.Services_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 2rem;
}

.Services_Title {
    font-size: 2em;
    background-color: white;
}

.Services_SubText {
    font-size: 1.5em;
}

.Services_Link {
    font-weight: 600;
    color: rgb(146, 43, 33)
}

.Services_Text {
    order: 2;
    text-align: center;
    width: 20rem;
    padding: 1rem;
    align-self: center;
    line-height: 1.5;
}

.Services_ImageOne {
    order: 1;
}

.Services_ImageTwo {
    order: 3;
}

.Services_Image {
    height: auto;
    width: 35%;
}



